In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from UnivariateFunctions import Univariate as Unv

In [2]:
dataset = pd.read_csv("sales_Price.csv")
dataset

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rating
0,0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,...,1180,0,1955,0,98178,47.5112,122.257,1340,5650.0,Excellent
1,1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,...,2170,400,1951,0,98125,47.7210,122.319,1690,7639.0,Excellent
2,2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,...,770,0,1933,0,98028,47.7379,122.233,2720,8062.0,Good
3,3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,...,1050,910,1965,0,98136,47.5208,122.393,1360,5000.0,Excellent
4,4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,...,1680,0,1987,0,98074,47.6168,122.045,1800,7503.0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,360000.0,3.0,2.0,1530.0,1131,3.0,0,0,3.0,...,1530,0,2009,0,98103,47.6993,122.346,1530,1509.0,Excellent
21609,21609,400000.0,4.0,2.0,2310.0,5813,2.0,0,0,3.0,...,2310,0,2014,0,98146,47.5107,122.362,1830,7200.0,Excellent
21610,21610,402101.0,2.0,2.0,1020.0,1350,2.0,0,0,3.0,...,1020,0,2009,0,98144,47.5944,122.299,1020,2007.0,Excellent
21611,21611,400000.0,3.0,2.0,1600.0,2388,2.0,0,0,3.0,...,1600,0,2004,0,98027,47.5345,122.069,1410,1287.0,Excellent
21612,21612,325000.0,2.0,2.0,1020.0,1076,2.0,0,0,3.0,...,1020,0,2008,0,98144,47.5941,122.299,1020,1357.0,Excellent

In [3]:
dataset = dataset.drop(['Unnamed: 0','zipcode','lat','long'], axis = 1)

In [4]:
dataset = pd.get_dummies(dataset, dtype=int)

In [5]:
dataset.fillna(0 , inplace = True) # replacing with NA
dataset.isnull().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
sqft_living15       0
sqft_lot15          0
Rating_Excellent    0
Rating_Good         0
dtype: int64

In [6]:
dataset

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,Rating_Excellent,Rating_Good
0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,7.0,1180,0,1955,0,1340,5650.0,1,0
1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,7.0,2170,400,1951,0,1690,7639.0,1,0
2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,6.0,770,0,1933,0,2720,8062.0,0,1
3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,7.0,1050,910,1965,0,1360,5000.0,1,0
4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,8.0,1680,0,1987,0,1800,7503.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3.0,2.0,1530.0,1131,3.0,0,0,3.0,8.0,1530,0,2009,0,1530,1509.0,1,0
21609,400000.0,4.0,2.0,2310.0,5813,2.0,0,0,3.0,8.0,2310,0,2014,0,1830,7200.0,1,0
21610,402101.0,2.0,2.0,1020.0,1350,2.0,0,0,3.0,7.0,1020,0,2009,0,1020,2007.0,1,0
21611,400000.0,3.0,2.0,1600.0,2388,2.0,0,0,3.0,8.0,1600,0,2004,0,1410,1287.0,1,0
21612,325000.0,2.0,2.0,1020.0,1076,2.0,0,0,3.0,7.0,1020,0,2008,0,1020,1357.0,1,0

In [7]:
dataset = dataset.drop(['Rating_Good'],axis = 1)

In [8]:
#changing both values to int

dataset['bathrooms'] = dataset['bathrooms'].apply(np.int64)
dataset['price'] = dataset['price'].apply(np.int64)

In [9]:
# classification is the output variable, so storing it in y, x is input

independent = dataset.iloc[:,1:].values
dependent =dataset.iloc[:,0].values

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 1/3, random_state = 0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor  # importing Support vector machine model.

param_grid = {'criterion':['absolute_error', 'squared_error', 'poisson', 'friedman_mse'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(),param_grid, refit = True, verbose = 3, n_jobs=-1)


grid.fit(X_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
37 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
3 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.69202676 0.72017572 0.69085672 0.71967303
        nan        nan 0.69114337 0.71868325 0.69112349 0.71884591
        nan        nan 0.69160828 0.71851543 0.69162849 0.72012104
        nan        nan 0.69360878 0.72019813 0.68989659 0.71932895]
  warnings.warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['absolute_error', 'squared_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
# grid_predictions = grid.predict(X_test)
# from sklearn.metrics import r2_score
# r_score = r2_score(y_test, grid_predictions)

re = grid.cv_results_

print("the R score value for best parameter {}:".format(grid.best_params_))

the R score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [14]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004046,6.406050e-04,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.003624,4.669248e-04,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,19.565741,8.664666e-01,0.017803,0.000402,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.682709,0.687120,0.691355,0.718272,0.680677,0.692027,0.013630,10
3,187.789209,2.348986e+00,0.164685,0.004154,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.716638,0.708368,0.721106,0.747820,0.706946,0.720176,0.014778,2
4,19.981672,2.314931e+00,0.018505,0.001344,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.685387,0.677946,0.690640,0.722196,0.678115,0.690857,0.016378,15
5,182.529062,2.541227e+00,0.156807,0.012450,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.714017,0.712821,0.719038,0.743990,0.708500,0.719673,0.012614,4
6,0.002999,3.814697e-07,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.003200,4.015759e-04,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,1.055646,1.171286e-02,0.019112,0.001245,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.684322,0.684865,0.692458,0.720103,0.673969,0.691143,0.015629,13
9,10.481542,3.494913e-02,0.169394,0.005237,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.714044,0.713275,0.719895,0.742047,0.704155,0.718683,0.012722,7
10,1.056901,1.603083e-02,0.018706,0.001164,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.685820,0.691436,0.684570,0.718472,0.675320,0.691123,0.014621,14
11,11.128737,7.603324e-01,0.196177,0.041329,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.713271,0.709983,0.720235,0.746691,0.704051,0.718846,0.014871,6
12,0.002802,4.010116e-04,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.003597,1.201178e-03,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,1.202512,1.492997e-02,0.017302,0.000401,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.689344,0.678094,0.691774,0.716768,0.682061,0.691608,0.013505,12
15,11.859915,5.245826e-02,0.162230,0.006961,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.714027,0.709530,0.719017,0.743211,0.706791,0.718515,0.013027,8
16,1.179468,8.680734e-03,0.018400,0.001021,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.686866,0.682947,0.697311,0.716841,0.674177,0.691628,0.014633,11
17,11.931800,1.106129e-01,0.163953,0.004720,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.716918,0.713139,0.720794,0.744059,0.705695,0.720121,0.012966,3
18,0.002601,4.871095e-04,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.002798,3.991715e-04,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,1.070677,6.822490e-02,0.017808,0.000514,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.677489,0.693957,0.690759,0.724407,0.681431,0.693609,0.016522,9
21,10.242106,9.454735e-02,0.169411,0.015029,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.715885,0.712511,0.719600,0.746560,0.706434,0.720198,0.013874,1
22,1.065249,2.973401e-02,0.017558,0.000394,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.686281,0.679016,0.696302,0.713406,0.674478,0.689897,0.013877,16
23,9.757625,1.101624e-01,0.153202,0.007677,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.715459,0.710164,0.720326,0.745596,0.705100,0.719329,0.014088,5

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             21613 non-null  int64
 1   bedrooms          21613 non-null  float64
 2   bathrooms         21613 non-null  int64
 3   sqft_living       21613 non-null  float64
 4   sqft_lot          21613 non-null  int64
 5   floors            21613 non-null  float64
 6   waterfront        21613 non-null  int64
 7   view              21613 non-null  int64
 8   condition         21613 non-null  float64
 9   grade             21613 non-null  float64
 10  sqft_above        21613 non-null  int64
 11  sqft_basement     21613 non-null  int64
 12  yr_built          21613 non-null  int64
 13  yr_renovated      21613 non-null  int64
 14  sqft_living15     21613 non-null  int64
 15  sqft_lot15        21613 non-null  float64
 16  Rating_Excellent  21613 non-null  int32
dtypes: float64(6), int32(1), int64(10)
memory usage: 2.7 MB

In [16]:
dataset.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'Rating_Excellent'],
      dtype='object')

In [18]:
bed_input = int(input("No.of Bedrooms:"))
bath_input = int(input("no.of Bathrooms:"))
Sq_input = float(input("Square_Feet:"))
SqL_input = float(input("Square_Feet_Loft:"))
floors_input = int(input("Floors:"))
waterfront_input = int(input("waterfront:"))
view_input = int(input("View input"))
condition_input = int(input("Enter the house condition:"))
grade_input = int(input("enter the Grade of the house:"))
Sq_above_input = int(input("Square_Feet_above input:"))
Sq_basement_input = int(input("Square_Feet basement input:"))
year_input = int(input("Built year:"))
Ryear_input = int(input("year renovated:"))
Sq_living_input = int(input("Sq feet living:"))
Sq_loft_input = int(input("Square_Feet Loft:"))
Rating_input = int(input("Rating Excellent 1 or 0:"))

No.of Bedrooms:4
no.of Bathrooms:5
Square_Feet:3000
Square_Feet_Loft:1000
Floors:2
waterfront:0
View input1
Enter the house condition:4
enter the Grade of the house:12
Square_Feet_above input:2000
Square_Feet basement input:1000
Built year:2009
year renovated:2015
Sq feet living:800
Square_Feet Loft:3000
Rating Excellent 1 or 0:1

In [19]:
Price_Prediction = grid.predict([[bed_input,bath_input,Sq_input,SqL_input,floors_input,waterfront_input,view_input,condition_input,grade_input,Sq_above_input,Sq_basement_input,year_input,Ryear_input,Sq_living_input,Sq_loft_input,Rating_input]])
print("Price_Prediction of the house = {}".format(Price_Prediction))

Price_Prediction of the house = [1093130.26]