In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from UnivariateFunctions import Univariate as Unv

In [2]:
dataset = pd.read_csv("sales_Price.csv")
dataset

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,0,221900.0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,1,538000.0,3,2.0,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,2,180000.0,2,1.0,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,3,604000.0,4,3.0,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,4,510000.0,3,2.0,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,360000.0,3,2.0,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,21609,400000.0,4,2.0,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,21610,402101.0,2,1.0,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,21611,400000.0,3,2.0,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,21612,325000.0,2,1.0,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [3]:
dataset = dataset.drop(['Unnamed: 0'], axis = 1)

In [4]:
dataset = pd.get_dummies(dataset, dtype=int)

In [5]:
dataset.fillna(0 , inplace = True) # replacing with NA
dataset.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
dataset

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.0,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.0,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.0,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.0,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.0,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,400000.0,4,2.0,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,402101.0,2,1.0,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,400000.0,3,2.0,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,325000.0,2,1.0,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [7]:
#changing both values to int

dataset['bathrooms'] = dataset['bathrooms'].apply(np.int64)
dataset['price'] = dataset['price'].apply(np.int64)

In [8]:
# classification is the output variable, so storing it in y, x is input

independent = dataset.iloc[:,1:].values
dependent =dataset.iloc[:,0].values

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 1/3, random_state = 0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor  # importing Support vector machine model.

param_grid = {'criterion':['absolute_error', 'squared_error', 'poisson', 'friedman_mse'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(),param_grid, refit = True, verbose = 3, n_jobs=-1)


grid.fit(X_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.71875301 0.74382486 0.70870538 0.7417549
        nan        nan 0.71338389 0.74388095 0.71043588 0.74154868
        nan        nan 0.70702386 0.74079192 0.716602   0.74148435
        nan        nan 0.71234493 0.74555552 0.71144142 0.7452093 ]
  warnings.warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['absolute_error', 'squared_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
# grid_predictions = grid.predict(X_test)
# from sklearn.metrics import r2_score
# r_score = r2_score(y_test, grid_predictions)

re = grid.cv_results_

print("the R score value for best parameter {}:".format(grid.best_params_))

the R score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [14]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003254,0.000505,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.002400,0.000490,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,12.784115,0.270717,0.018603,0.008227,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.695546,0.715229,0.734633,0.738712,0.709645,0.718753,0.016028,9
3,126.820718,0.692159,0.125948,0.003733,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.727007,0.743492,0.741885,0.766360,0.740381,0.743825,0.012700,4
4,13.154231,0.245471,0.014505,0.000636,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.702471,0.707780,0.702083,0.721290,0.709903,0.708705,0.006977,15
5,125.391328,3.213108,0.083256,0.012678,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.715818,0.738371,0.747772,0.764949,0.741865,0.741755,0.015864,5
6,0.002400,0.000491,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.002102,0.000206,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.746993,0.018904,0.014706,0.000869,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.697708,0.717905,0.698558,0.734178,0.718570,0.713384,0.013750,11
9,7.577657,0.278853,0.144938,0.029585,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.726322,0.738671,0.750256,0.764176,0.739980,0.743881,0.012675,3
10,0.786851,0.065410,0.014504,0.001000,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.711156,0.692952,0.723277,0.724524,0.700271,0.710436,0.012433,14
11,7.245597,0.047635,0.123128,0.002262,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.719810,0.734682,0.745609,0.767030,0.740613,0.741549,0.015404,6
12,0.002200,0.000400,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.001999,0.000001,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.842800,0.007455,0.013101,0.000664,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.696915,0.695612,0.718856,0.719630,0.704106,0.707024,0.010391,16
15,8.268726,0.047321,0.124052,0.003780,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.717019,0.737599,0.746238,0.760903,0.742201,0.740792,0.014223,8
16,0.851371,0.037515,0.013504,0.000449,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.707200,0.708673,0.718741,0.744244,0.704152,0.716602,0.014662,10
17,8.312258,0.156202,0.122626,0.001962,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.722916,0.738272,0.743411,0.763496,0.739326,0.741484,0.013023,7
18,0.002200,0.000400,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.002400,0.000800,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.720357,0.012508,0.014548,0.002313,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.694781,0.708398,0.714680,0.733340,0.710526,0.712345,0.012439,12
21,7.246431,0.065846,0.121431,0.001206,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.723037,0.742363,0.754622,0.764793,0.742962,0.745556,0.013973,1
22,0.725834,0.014798,0.013704,0.000605,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.697236,0.711812,0.718607,0.732974,0.696578,0.711441,0.013696,13
23,6.823229,0.218038,0.111569,0.009560,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.729793,0.743422,0.743228,0.767465,0.742139,0.745209,0.012244,2

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  int64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  int64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  sqft_living15  21613 non-null  int64
 15  sqft_lot15     21613 non-null  int64
dtypes: float64(1), int64(15)
memory usage: 2.6 MB

In [16]:
dataset.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [18]:
bed_input = int(input("No.of Bedrooms:"))
bath_input = int(input("no.of Bathrooms:"))
Sq_input = float(input("Square_Feet:"))
SqL_input = float(input("Square_Feet_Loft:"))
floors_input = int(input("Floors:"))
waterfront_input = int(input("waterfront:"))
view_input = int(input("View input"))
condition_input = int(input("Enter the house condition:"))
grade_input = int(input("enter the Grade of the house:"))
Sq_above_input = int(input("Square_Feet_above input:"))
Sq_basement_input = int(input("Square_Feet basement input:"))
year_input = int(input("Built year:"))
Ryear_input = int(input("year renovated:"))
Sq_living_input = int(input("Sq feet living:"))
Sq_loft_input = int(input("Square_Feet Loft:"))
#Rating_input = int(input("Rating Excellent 1 or 0:"))

No.of Bedrooms:4
no.of Bathrooms:5
Square_Feet:1800
Square_Feet_Loft:5000
Floors:2
waterfront:3
View input1
Enter the house condition:4
enter the Grade of the house:10
Square_Feet_above input:1180
Square_Feet basement input:400
Built year:2015
year renovated:0
Sq feet living:2720
Square_Feet Loft:8062

In [19]:
Price_Prediction = grid.predict([[bed_input,bath_input,Sq_input,SqL_input,floors_input,waterfront_input,view_input,condition_input,grade_input,Sq_above_input,Sq_basement_input,year_input,Ryear_input,Sq_living_input,Sq_loft_input]])
print("Price_Prediction of the house = {}".format(Price_Prediction))

Price_Prediction of the house = [3068761.1]